.preloader {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.preloader__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e4ebf5;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.percent {
  color: rgb(47, 47, 47);
}

.bar {
  width: 60%;
  margin-top: 20px;
}

.bar__confirm {
  margin: 20px auto;
  width: 1%;
  padding: 1px 0px;
  background-color: rgb(82, 82, 82);
}

.heading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: '#333';
}

.heading h1 {
  text-transform: uppercase;
  opacity: 0;
  font-size: 40px;
  color: rgb(0, 0, 0);
}
